<template>
    <div class="card w-48 mx-2 my-3">
        <div class="rounded-md bg-gray-200 p-4">
            <img v-if="book.url_image" class="w-full" :src="book.url_image" />
            <img
                v-else
                class="w-full"
                src="https://vignette.wikia.nocookie.net/cinemorgue/images/5/5f/2012-movie-poster-2009-1010538365.jpg/revision/latest/scale-to-width-down/143?cb=20180623072242"
            />
        </div>
        <a class="text-lg block text-center hover:underline cursor-pointer">{{
            book.name
        }}</a>
    </div>
</template>

<script>
export default {
    props: ["book"],
    setup() {},
};
</script>