<template>
    <div class="card w-48 mx-2 my-3">
        <div class="rounded-md bg-gray-200 p-4">
            <img
                v-if="author.url_image"
                class="w-full"
                :src="author.url_image"
            />
            <img
                v-else
                class="w-full"
                src="https://warwick.ac.uk/newsandevents/pressreleases/warwick_to_honour/hirata_-_mr_andrea_hirata_-_photo_from_him_27march15.jpg?maxWidth=335&maxHeight=475"
            />
        </div>
        <router-link
            :to="`/author/${author.id}`"
            class="text-lg block text-center hover:underline cursor-pointer"
            >{{ author.name }}
        </router-link>
    </div>
</template>

<script>
export default {
    props: ["author"],
    setup() {},
};
</script>