<template>
    <div class="absolute top-1/4 right-1/3 bg-white p-4 rounded z-10">
        <h1 class="text-lg">Add Book</h1>
        <div class="w-96 mt-4">
            <input
                class="block w-full focus:outline-none border px-2 py-1 rounded text-sm mb-4"
                type="text"
                name=""
                id=""
                placeholder="Title"
            />
            <input
                class="block w-full focus:outline-none border px-2 py-1 rounded text-sm mb-4"
                type="text"
                name=""
                id=""
                placeholder="Year"
            />
            <input
                class="block w-full focus:outline-none border px-2 py-1 rounded text-sm mb-4"
                type="text"
                name=""
                id=""
                placeholder="Name"
            />
        </div>

        <button
            class="rounded-full bg-gray-200 text-gray-400 px-4 py-1 text-sm shadow-lg mr-4"
        >
            Cancel
        </button>
        <button
            class="rounded-full bg-gray-800 text-white px-4 py-1 text-sm shadow-lg"
        >
            Save
        </button>
    </div>
    <div
        class="w-screen h-screen bg-black absolute right-0 top-0 opacity-30"
    ></div>
</template>