<template>
    <div class="wrapper flex h-screen overflow-y-hidden">
        <Sidebar />
        <div class="main-content flex-1 overflow-y-auto pl-8">
            <router-view />
        </div>
    </div>
</template>

<script>
import Sidebar from "./components/Sidebar.vue";
export default {
    components: {
        Sidebar,
    },
};
</script>