<template>
    <section class="flex justify-between pt-5">
        <h1 class="text-4xl font-bold">Authors</h1>
    </section>
    <section class="mt-4">
        <div class="flex flex-wrap mt-8">
            <CardAuthor
                v-for="author in authors"
                :key="author.id"
                :author="author"
            />
        </div>
    </section>
</template>


<script>
import CardAuthor from "../components/CardAuthor.vue";
import { ref } from "vue";
import axios from "axios";
export default {
    setup() {
        const authors = ref([]);

        const getBooks = () => {
            axios.get("http://127.0.0.1:8000/api/authors").then((res) => {
                authors.value = res.data.data;
            });
        };

        getBooks();

        return {
            authors,
        };
    },
    components: {
        CardAuthor,
    },
};
</script>