<template>
    <section class="flex justify-between pt-5">
        <h1 class="text-4xl font-bold header-title">Categories</h1>
    </section>
    <section class="mt-4" v-for="category in categories" :key="category.id">
        <h2 class="text-2xl text-popular">{{ category.name }}</h2>
        <div class="flex flex-wrap mt-8">
            <Card v-for="book in category.books" :key="book.id" :book="book" />
        </div>
    </section>
</template>


<script>
import Card from "../components/Card.vue";
import { ref } from "vue";
import axios from "axios";
export default {
    setup() {
        const categories = ref([]);

        const getBooks = () => {
            axios.get("http://127.0.0.1:8000/api/categories").then((res) => {
                categories.value = res.data.data;
            });
        };

        getBooks();

        return {
            categories,
        };
    },
    components: {
        Card,
    },
};
</script>