<template>
    <section class="flex justify-between pt-5">
        <h1 class="text-4xl font-bold header-title">Author</h1>
    </section>
    <section class="mt-4 flex justify-center">
        <div class="mx-auto py-14 px-8 bg-gray-200 rounded-md">
            <div class="flex">
                <img
                    class="w-24"
                    src="https://warwick.ac.uk/newsandevents/pressreleases/warwick_to_honour/hirata_-_mr_andrea_hirata_-_photo_from_him_27march15.jpg?maxWidth=335&maxHeight=475"
                    alt="Foto Profile"
                />

                <div class="bio ml-3">
                    <h2 class="text-xl font-bold">{{ author.name }}</h2>
                    <p>{{ author.about }}</p>
                    <a href="" class="block">{{ author.instagram }}</a>
                    <p>{{ author.books.length }} Books Published</p>
                </div>
            </div>
        </div>
    </section>
    <section class="mt-4">
        <div class="flex flex-wrap mt-8">
            <Card v-for="book in author.books" :key="book.id" :book="book" />
        </div>
    </section>
</template>

<script>
import { ref } from "vue";
import axios from "axios";
import { useRoute, useRouter } from "vue-router";
import Card from "../components/Card.vue";

export default {
    setup() {
        const route = useRoute();
        const router = useRouter();
        const author = ref({
            name: "",
            about: "",
            instagram: "",
            url_image: "",
            books: [],
        });

        const getDetail = () => {
            axios
                .get(
                    `http://localhost:8000/api/authors/${route.params.id}/books`
                )
                .then((res) => {
                    author.value = res.data.data;
                })
                .catch((err) => {
                    router.push("/");
                });
        };

        getDetail();

        return { author };
    },
    components: {
        Card,
    },
};
</script>
