<template>
    <section class="flex justify-between pt-5">
        <h1 class="text-4xl font-bold header-title">Explore</h1>
        <div class="mr-10 flex items-center">
            <div>
                <button
                    class="bg-gray-800 hover:bg-gray-900 focus:outline-none text-white px-4 py-3 rounded-full text-sm mr-10 shadow-lg"
                >
                    Tambah Buku
                </button>
            </div>
            <div class="relative">
                <svg
                    class="absolute left-4 top-1/4"
                    width="24"
                    height="24"
                    viewBox="0 0 33 33"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                >
                    <path
                        d="M31.9457 30.0578L24.0916 21.8892C26.111 19.4886 27.2175 16.4681 27.2175 13.3237C27.2175 5.97714 21.2404 0 13.8938 0C6.54717 0 0.570023 5.97714 0.570023 13.3237C0.570023 20.6703 6.54717 26.6475 13.8938 26.6475C16.6518 26.6475 19.28 25.8156 21.5271 24.2365L29.4408 32.4671C29.7716 32.8106 30.2165 33 30.6933 33C31.1445 33 31.5726 32.8279 31.8976 32.5151C32.5881 31.8507 32.6101 30.7489 31.9457 30.0578ZM13.8938 3.47576C19.3241 3.47576 23.7417 7.89345 23.7417 13.3237C23.7417 18.754 19.3241 23.1717 13.8938 23.1717C8.46347 23.1717 4.04578 18.754 4.04578 13.3237C4.04578 7.89345 8.46347 3.47576 13.8938 3.47576Z"
                        fill="#B1B2B7"
                    />
                </svg>

                <input
                    type="text"
                    class="px-4 shadow-md border bg-white py-3 rounded-full pl-12 focus:outline-none text-sm"
                    placeholder="Find the book"
                />
            </div>
        </div>
    </section>
    <section class="mt-4">
        <h2 class="text-2xl text-popular">Popular Now</h2>
        <div class="flex flex-wrap mt-8">
            <Card v-for="book in books" :key="book.id" :book="book" />
        </div>
    </section>
    <!-- <Modal /> -->
</template>


<script>
import Card from "../components/Card.vue";
import Modal from "../components/ModalBook.vue";
import { ref } from "vue";
import axios from "axios";
export default {
    setup() {
        const books = ref([]);

        const getBooks = () => {
            axios.get("http://127.0.0.1:8000/api/books").then((res) => {
                books.value = res.data.data;
            });
        };

        getBooks();

        return {
            books,
        };
    },
    components: {
        Card,
        Modal,
    },
};
</script>